<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTCCServiceAddressBook</key>
	<dict>
		<key>com.adiumX.adiumX</key>
		<dict>
			<key>client_type</key>
			<integer>0</integer>
			<key>allowed</key>
			<integer>1</integer>
			<key>prompt_count</key>
			<integer>0</integer>
		</dict>
		<key>com.macromates.TextMate.preview</key>
		<dict>
			<key>client_type</key>
			<integer>0</integer>
			<key>allowed</key>
			<integer>0</integer>
			<key>prompt_count</key>
			<integer>0</integer>
		</dict>
		<key>com.apple.FinalCutPro</key>
		<dict>
			<key>client_type</key>
			<integer>0</integer>
			<key>allowed</key>
			<integer>1</integer>
			<key>prompt_count</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
